# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/AppsCore.Ancestry.Api/bin/Debug/netcoreapp2.0/*.json
/AppsCore.Ancestry.Api/obj/*.props
/AppsCore.Ancestry.Api/obj/*.targets
/AppsCore.Ancestry.Api/obj/Debug/netcoreapp2.0/*.cs
/AppsCore.Ancestry.Api/obj/Debug/netcoreapp2.0/*.txt
/AppsCore.Ancestry.Api/obj/*.json
/.vs/AppsCore.Ancestry/DesignTimeBuild/*.dtbcache
/.vs/AppsCore.Ancestry/v15/Server/sqlite3/*.lock
/.vs/AppsCore.Ancestry/v15/Server/sqlite3/*.ide
/.vs/AppsCore.Ancestry/v15/Server/sqlite3/*.ide-shm
/.vs/AppsCore.Ancestry/v15/Server/sqlite3/*.ide-wal
/.vs/config/*.config
/AppsCore.Ancestry.Api.Test/bin/Debug/netcoreapp2.1/*.json
/AppsCore.Ancestry.Api.Test/bin/Debug/netcoreapp2.1/Data/*.json
/AppsCore.Ancestry.Api.Test/obj/*.props
/AppsCore.Ancestry.Api.Test/obj/*.targets
/AppsCore.Ancestry.Api.Test/obj/Debug/netcoreapp2.1/*.cs
/AppsCore.Ancestry.Api.Test/obj/Debug/netcoreapp2.1/*.CopyComplete
/AppsCore.Ancestry.Api.Test/obj/Debug/netcoreapp2.1/*.txt
/AppsCore.Ancestry.Api.Test/obj/*.json
/AppsCore.Ancestry.Api/bin/Debug/netcoreapp2.0/Data/data_large.json
/AppsCore.Ancestry.Api/bin/Debug/netcoreapp2.0/Data/data_small.json
/AppsCore.Ancestry.Web/Bin
